@import "../abstracts/var";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/functions";

.active-button {
  border: 0 !important;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  text-align: center;
  margin-top: 40px;
  transition: 300ms;
  @include font-style ($WH, $Bold, $FontSize);
}

@media (max-width: 768px) {
  .active-button {
    margin-top: 12px;
  }
}

.btn_orange {
@include bg-gradient;
  &:hover{
    @include no-select;
    box-shadow: 0 0 4px $Accent;
    border: 1px solid $Accent !important;
  }
}

.btn_cyan {
  @include bg-gradient;
    &:hover{
      @include no-select;
      box-shadow: 0 0 4px $Accent;
      border: 1px solid $Accent !important;
    }
  }
